* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
}

.divfiltro {
    height: 30px;
    display: flex;
    justify-content: center;
}

.inputfiltro {
    width: 30%;
    padding-left: 10px;
}

.botoesFiltro {
    margin-left: 10px;
    border-radius: 3px;
    padding: 4px;
}

.botoesFiltro:hover {
    cursor: pointer;
}

table {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linhaTabela {
    width: 20vw;
    display: flex;
    border: 1px black solid;
    border-collapse: collapse;
    border-bottom: 0;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: red;
}

.colunaNome {
    margin-left: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.colunaImagem {
    padding: 5px;
    width: 15%;
}