* {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
}

a {
    color: black;
    text-decoration: none;
}

main {
    margin-top: 70px;
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-evenly;
}

.imagemPokemon {
    width: 15vw;
    padding: 15px;
    padding-right: 40px;
}

.imagemPokemon:hover {
    cursor: pointer;
}

.nomePokemon {
    font-size: 26px;
    padding: 8px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: rgb(70, 172, 70);
    border: 1px transparent solid;
    border-radius: 10px;
    margin: 2px;
    width: 90%;
    text-transform: capitalize;
}

table {
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

.linha {
    width: 10vw;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
    border-radius: 6px;
}

.coluna {
    padding: 10px;
    height: 100%;
    width: 50%;
    border-right: black 1px solid;
}

td {
    padding: 10px;
    height: 100%;
    width: 50%;
}

.divNomeImagem {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    border: 1px black solid;
    border-radius: 8px;
}

.divImagem {
    width: 90%;
    background-color: white;
    border-radius: 15px;
    margin: 2px;
    margin-bottom: 6px;
}

.divBaixo {
    margin-top: 30px;
    width: 25vw;
    display: flex;
    justify-content: space-evenly;
}

.linksFooter {
    padding: 8px;
    border: 1px solid black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.linksFooter:hover {
    color: red;
    transition: all 0.5s;
}

.pgInicial {
    padding: 10px;
    border: 1px solid black;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 8px;
    color: rgb(90, 147, 231);
}

.pgInicial:hover {
    color: red;
    transition: all 0.5s;
}